apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    database: rte_data
    user: airflow
    secureJsonData:
      password: airflow
    jsonData:
      sslmode: "disable"
      postgresVersion: 1500
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
